@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.7;
    color: #432;
}

/*ボディの装飾*/
.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
.menu {
    text-align: center;
}
.page-header{
    padding-top: .5rem;
}
.logo {
    width: 200px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}

a {
    text-decoration: none;
}

.main-nav a{
    color: #432;
}

.main-nav a:hover {
    color: #0bd;
}
img {
    max-width: 200%;
}

.page-title,
.page-header{
    font-size: 3rem;
    text-align: center;
}

.page-title {
    margin-top: 2rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.page-header{
    padding-top: .5rem;
}


/* .cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
} */

.sub-cover {
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;
}

.cover-home {
    background-image: url(images/cover-home-s.webp)
}
.cover-news {
    background-image: url(../imagenary-cafe/images/cover-news-s.webp);
}

/* sectionのcss */
.post {
    margin-bottom: 3rem;
}
.post-title {
    margin-top: 15rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.post-info {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.post-cat {
    display: flex;
    gap: .5rem;
    list-style: none;
}

.post-cat a {
    color: #432;
    background-color: #faf7f0;
    border-radius: 8px;
    padding : .5rem .75rem
}

.post-cat a:hover {
    background-color: #c9c2bc;
}

.post-thumbnail {
    border-radius: 16px;
    margin-bottom: 1.5rem;
}

.post p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

/* .explation {
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 4rem;
} */

.heading-large {
    margin-bottom: 1rem;
    text-align: center;
}

/* .btn {
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    /* 角を丸めるプロパティ */
    /* border-radius: 8px;
    margin: 3rem auto 2rem;
    padding: .75rem 1.5rem;
    transition: .5s;
}

.btn:hover {
    scale: 1.2;
    scale: 1.5;
    background-color: #0090aa;
    rotate: -5deg;
} */ 

/* サイドバー */

.heading-medium{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;

}

.side-menu{
    list-style: none;
    text-align: center;
    margin-bottom: 3rem;
}

.side-menu li {
    border-bottom: 1px solid #c9c2bc
}

.side-menu a{
    color: #432;
    display: block;
    padding: 1rem;
}

.side-menu :hover {
    color: #0bd;
}

.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}

.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}

.info th{
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}

.info td {
    padding: 1rem 0;
}

.page-footer {
    background-image: url(../imagenary-cafe/images/footer-s.webp);
    /* 範囲を変えないまま広げる */
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
}

.copyright {
    background-color: #432;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}


/* デスクトップ版 */
 @media (min-width: 800px) {
    .page-title {
        font-size: 5rem;
    }

    .heading-large {
        font-size: 4rem;
    }

    .main-nav {
        font-size: 2rem;
    }
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }
    .main-nav {
        font-size: 2rem;
        margin-bottom: 6rem;
    }

    /* ヘッダーカバーかぞう*/
    .sub-cover {
        height: 400px;
    }
    
    /* HOME */
    .cover-home {
        background-image: url(images/cover-home-l.webp);
    }

    .explation {
        margin: 4rem auto 0;
    }

    /* news */
    .cover-news{
        background-image: url(../imagenary-cafe/images/cover-news-l.webp);
        height: 23rem;
    }
    .news-contens{
        display: flex;
        justify-content: space-between;
    }
    .post-thumbnail{
        border-radius: 16;
        width: 100%;
    }
    .post {
        width: 60%;
    }
    .sidebar{
        width: 20%
    }

    .sidebar .heading-medium{
        line-height: 1;
        margin-bottom: 1rem;
    }

    /* フッター */
    .page-footer {
        background-image: url(../imagenary-cafe/images/footer-l.webp);
        padding-top: 12rem;
    }

    .info th {
        padding-left: 2.5rem;
    }
    
    .post-title {
        font-size: 2rem;
    }
 }



